
.thumbs-wrap{
    width:70%;
    margin:auto;
    
    }

.thumb-container{
    width:25%;
    float:left;
    position:relative;
    overflow:hidden;
}

img{
    width:100%;
    height:auto;
    display:block;
}

.slide{
    color:azure;
    position:absolute;
    top:100%;
    height:100%;
    width:100%;
    background-color: black;
    opacity: 0.7;
    transition:0.3s ease-out;
}

.thumb-container:hover  .slide {
    top:0px;
}

/* selector essentially says "select the class .slide inside .thumb-container that is hovered over"  */

.next{clear:left;}



 @media only screen and (max-width: 800px) {
     .thumbs-wrap{
         width:100%;
     }
     .thumb-container{
         width: 33.33333%;
     }
}

s